version: '3.7'

services:

  workspace:
    build:
      args:
        UID: ${UID}
        GID: ${GID}
      context: ./workspace
    image: dockstead_workspace
    volumes:
      - ${CODE_PATH}:/home/dockstead/code
    networks:
      my_network:
        ipv4_address: ${WORKSPACE_IP}

  php8.0:
    build:
      args:
        PHP_VERSION: 8.0
        UID: ${UID}
        GID: ${GID}
      context: ./php
    image: dockstead_php80
    volumes:
      - ${CODE_PATH}:/var/www:delegated
      - ./php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    networks:
      my_network:
        ipv4_address: ${PHP80_IP}

  php7.4:
    build:
      args:
        PHP_VERSION: 7.4
        UID: ${UID}
        GID: ${GID}
      context: ./php
    image: dockstead_php74
    volumes:
      - ${CODE_PATH}:/var/www:delegated
      - ./php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    networks:
      my_network:
        ipv4_address: ${PHP74_IP}

  php7.3:
    build:
      args:
        PHP_VERSION: 7.3
        UID: ${UID}
        GID: ${GID}
      context: ./php
    image: dockstead_php73
    volumes:
      - ${CODE_PATH}:/var/www:delegated
      - ./php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    networks:
      my_network:
        ipv4_address: ${PHP73_IP}

  php7.2:
    build:
      args:
        PHP_VERSION: 7.2
        UID: ${UID}
        GID: ${GID}
      context: ./php
    image: dockstead_php72
    volumes:
      - ${CODE_PATH}:/var/www:delegated
      - ./php/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    networks:
      my_network:
        ipv4_address: ${PHP72_IP}

  nginx:
    build:
      context: ./nginx
    image: dockstead_nginx
    depends_on:
      - php7.2
      - php7.3
      - php7.4
    volumes:
      - ./nginx/sites:/etc/nginx/conf.d:ro
      - ./nginx/logs:/var/log/nginx
      - ./nginx/ssl:/etc/nginx/ssl
      - ${CODE_PATH}:/var/www:ro,delegated
    ports:
      - ${NGINX_PORT}:80
    networks:
      my_network:
        ipv4_address: ${NGINX_IP}

  mysql:
    image: mysql:5.7
    restart: unless-stopped
    tty: true
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      my_network:
        ipv4_address: ${MYSQL_IP}

  # mongo:
  #   build: ./mongo
  #   ports:
  #     - "${MONGODB_PORT}:27017"
  #   volumes:
  #     - mongodata:/data/db
  #     - mongoconfig:/data/configdb
  #   networks:
  #     my_network:
  #       ipv4_address: ${MONGODB_IP}

volumes:
  dbdata:
    driver: local
  mongodata:
    driver: local
  mongoconfig:
    driver: local

networks:
  my_network:
    driver: bridge
    ipam:
      config:
        - subnet: ${SUBNET_IP}/16
